<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>竞拍者注册页</title>
	</head>

	<body>
		<div class="jinpairegister">
			<el-row :gutter="20" justify="center">
				<el-col :span="8">
					<div class="grid-content bg-purple"></div>
				</el-col>
				<el-col :span="10" :offset="7">
					<h2>用户注册</h2>
					<el-form :model="auctionuser" method="post" :rules="rules" ref="auctionuser" label-width="100px" class="demo-ruleForm">
						<el-form-item label="用户名" prop="username">
							<el-input v-model="auctionuser.username"></el-input>
						</el-form-item>
						<el-form-item label="密码" prop="userpassword">
							<el-input v-model="auctionuser.userpassword" show-password></el-input>
						</el-form-item>
						<el-form-item label="身份证号" prop="usercardno">
							<el-input v-model="auctionuser.usercardno"></el-input>
						</el-form-item>
						<el-form-item label="电话" prop="usertel">
							<el-input v-model="auctionuser.usertel"></el-input>
						</el-form-item>
						<el-form-item label="住址" prop="useraddress">
							<el-input v-model="auctionuser.useraddress"></el-input>
						</el-form-item>
						<el-form-item label="邮政编码" prop="userpostnumber">
							<el-input v-model.number="auctionuser.userpostnumber"></el-input>
						</el-form-item>
						<el-form-item label="用户须知" prop="resource">
							<el-checkbox v-model="auctionuser.resource" label="我同意《服务条款》" name="resource" style="color: deepskyblue;"></el-checkbox>
						</el-form-item>
						<el-form-item>
							<el-button type="primary" @click="submitForm('auctionuser')">立即注册</el-button>
							<el-button @click="resetForm('auctionuser')">重置</el-button>
							<el-button @click="goBack">返回</el-button>
						</el-form-item>
					</el-form>
				</el-col>
				<el-col :span="8">
					<div class="grid-content bg-purple"></div>
				</el-col>
			</el-row>
		</div>
	</body>
	<script>
		var jinpairegister = new Vue({
			data: {
				auctionuser: {
					username: '',
					userpassword: '',
					usercardno: '',
					usertel: '',
					resource: '',
					userpostnumber: '',
					useraddress: ''
				},
				rules: {
					username: [{
							required: true,
							message: '请输入名字',
							trigger: 'blur'
						},
						{
							min: 0,
							max: 20,
							message: '用户名字符长度在 6到 10 个字符',
							trigger: 'blur'
						}
					],
					userpassword: [{
							required: true,
							message: '请输入密码',
							trigger: 'blur'
						},
						{
							min: 0,
							max: 20,
							message: '密码字符长度在 6到 10 个字符',
							trigger: 'blur'
						}
					],
					usercardno: [{
						required: true,
						message: '身份证号必填',
						trigger: 'blur'
					}],
					usertel: [{
						required: true,
						message: '电话号码必填',
						trigger: 'blur'
					}],
					resource: [{
						required: true,
						message: '请同意服务条款',
						trigger: 'change'
					}],
					useraddress: [{
						required: true,
						message: '地址必填',
						trigger: 'blur'
					}],
					userpostnumber: [{
						required: true,
						message: '邮政编码必填',
						trigger: 'blur'
					}, {
						type: 'number',
						min: 0,
						message: '邮政编码必须为数字',
						trigger: 'blur'
					}]

				}
			},
			methods: {
				submitForm(formName) {
					this.$refs[formName].validate((valid) => {
						if(valid) {
							_this = this;
							$.ajax("http://127.0.0.1:8080/Auction/api/users/user", {
								type: "post",
								contentType: "application/json",
								data: JSON.stringify(_this.auctionuser),
								dataType: "json",
								success(msg) {
									if(msg.code == "200") {
										alert('保存成功');
									}
								}
							});
						} else {
							console.log('error submit!!');
							return false;
						}
					});
				},
				resetForm(formName) {
					this.$refs[formName].resetFields();
				},
				goBack() {
					$('.el-main').load('竞拍者登录1.html');
				}
			},
			mounted() {}
		}).$mount(".jinpairegister");
	</script>

</html>